.app
  position: relative;
  display: flex;

  & article
    padding-left: 76px;
    padding-right: 396px;

  & aside
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100vh;
    background-color: var(--dark-grey);