.cards
  margin-top: 32px;

  & h2
    font-family: Aquatico;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-transform: uppercase;

  & ul
    margin-top: 24px;
    margin-right: -24px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  & li
    font-size: 0;
    margin-right: 24px;
    margin-bottom: 24px;

  & img
    background-color: red;
    border-radius: 4.75% / 3.5%;
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);